/* Import Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

/* Color */
:root {
  --primary: #efe1d1;
  --purple: #a78295;
  --dark-purple: #3f2e3e;
  --underweight: #83ece6;
  --normal: #83ec94;
  --overweight: #ece883;
  --obesity: #fe9292;
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  list-style: none;
}

/* HTML */
html {
  scroll-behavior: smooth;
}

/* Body */
body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: var(--primary);
  color: var(--primary);
  overflow-x: hidden;
}

/* Font Size */
h1{
  font-size: 40px;
  font-weight: 700;
}

h2{
  font-size: 28px;
  font-weight: 500;
}

p, li{
  font-size: 20px;
}


/* Container */
.container {
  background-color: var(--purple);
  border: 6px solid var(--dark-purple);
}

/* Row */
.row{
  display: flex;
  gap: 1rem;
}

/* Container Home */
#container-home {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.5rem;
  row-gap: 1rem;
  transition: all 600ms ease-in-out;
}

/* Header BMI */
#header-bmi {
  width: calc((7/12)*100%);
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  text-align: center;
  padding: 1.5rem 2.25rem;
}

/* Add Explanation */
#add-explanation{
  width: calc((5/12)*100%);
  padding: 1.5rem 2.25rem;
  display: grid;
  place-items: center;
}

/* Bottom */
#bottom{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

/* Form BMI */
#form-bmi {
  width: 100%;
}

#container-jk-u, #container-bb-tb{
  display: flex;
  gap: 1rem;
  flex-grow: 1;
}

#jenis-kelamin, #container-usia, #container-bb, #container-tb{
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

#jenis-kelamin, #container-bb, #container-tb{
  flex-grow: 1;
}

#jenis-kelamin{
  text-align: center;
  align-items: center;
}

#input-radio {
  display: flex;
  column-gap: 1rem;
}

#input-radio img {
  width: 80px;
  opacity: 50%;
}

#input-radio span {
  font-size: 20px;
  font-weight: 500;
  opacity: 50%;
}

#form-bmi .container-radio {
  cursor: pointer;
  position: relative;
  text-align: center;
}

#form-bmi .container-radio input {
  position: absolute;
  opacity: 0;
}

#form-bmi .container-radio input:checked ~ img,
#form-bmi .container-radio input:checked ~ span {
  opacity: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#form-bmi .input-number {
  width: 72px;
  padding: 0.5rem 0.75rem;
  background-color: var(--primary);
  color: var(--dark-purple);
  border: 5px solid var(--dark-purple);
  font-weight: 700;
  font-size: 24px;
  outline: none;
  -moz-appearance: textfield;
}

#form-bmi .satuan {
  font-size: 24px;
  font-weight: 500;
  margin-left: 0.5rem;
}

#container-mb-b{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#made-by{
  font-size: 24px;
  font-weight: 500;
  flex-grow: 1;
  display: grid;
  place-items: center;
  padding: 1rem;
  flex-shrink: 0;
}

#hitung-bmi {
  padding: 0.75rem 1.25rem;
  font-size: 24px;
  font-weight: 700;
  background-color: var(--dark-purple);
  color: var(--primary);
  cursor: pointer;
  border: 5px solid var(--dark-purple);
}

#form-bmi #hitung-bmi:hover {
  background-color: var(--purple);
  color: var(--dark-purple);
}

/* Keunggulan Fitur */
#fitur, #rumus {
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  flex-grow: 1;
}

#fitur ol {
  padding-left: 1.5rem;
}

#fitur li {
  list-style: decimal;
}

/* Social Media */
#container-social{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

#sosial{
  text-align: center;
    padding: 0.5rem 1rem;
}

#container-link{
  display: flex;
  column-gap: 1rem;
}

#container-link a{
  text-decoration: none;
  color: var(--primary);
  font-size: 24px;
  padding: 0.5rem 1rem;
}

#container-link a:hover{
  background-color: var(--dark-purple);
}

/* BMI Result */
#container-result {
  display: flex;
  gap: 1rem;
  width: 100%;
  position: absolute;
  top: 0;
  transform: translateX(100%);
  transition: all 600ms ease-in-out;
  padding: 1.5rem;
}

#left{
  width: calc((7/12)*100%);
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

#container-info{
  display: flex;
  gap: 1rem;
}

#identity{
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  padding: 1rem 1.5rem;
}

#identity img{
  width: 70px;
  height: fit-content;
}

#identity span{
  display: block;
  margin-top: 0.5rem;
  font-size: 24px;
  font-weight: 700;
}

#container-value{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  text-align: center;
  padding: 1rem 1.5rem;
}

#value-bmi{
  font-weight: 700;
  font-size: 40px;
}

#bmi-display {
  text-align: center;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

#img-bmi-display-male,
#img-bmi-display-female {
  display: none;
  justify-content: center;
  column-gap: 1rem;
}

#bmi-display .img-bmi-display-item {
  opacity: 30%;
}

#bmi-display .img-bmi-display-item img {
  width: 130px;
}

#bmi-display .img-bmi-display-item p {
  font-size: 20px;
  font-weight: 500;
}

#bmi-display #range #container-range-bubble {
  position: relative;
  height: 60px;
}

#bubble {
  display: block;
  width: fit-content;
  padding: 0.5rem;
  font-size: 20px;
  font-weight: 700;
  color: var(--dark-purple);
  background-color: var(--underweight);
  position: absolute;
}

#bubble::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 0px;
  border-left: 0.5rem solid;
  border-left-color: var(--colorAfter, transparent);
  border-right: 5px solid transparent;
  border-bottom: 0.5rem solid transparent;
  transform: rotateZ(90deg), scaleX(-1);
}

#range-display {
  display: flex;
  height: 1.75rem;
}

#range-kekurangan-bb {
  background-color: var(--underweight);
  flex-grow: calc(18.5 / 40);
}

#range-normal {
  background-color: var(--normal);
  flex-grow: calc(6.5 / 40);
}

#range-kelebihan-bb {
  background-color: var(--overweight);
  flex-grow: calc(5 / 40);
}

#range-obesitas {
  background-color: var(--obesity);
  flex-grow: calc(10 / 40);
}

#num-range-display {
  display: flex;
  margin-top: 0.5rem;
}

#num-range-kekurangan-bb, #num-range-normal, #num-range-kelebihan-bb, #num-range-obesitas{
  text-align: left;
  display: block;
  font-size: 20px;
}

#num-range-kekurangan-bb {
  color: var(--underweight);
  width: calc((18.5 / 40) * 100%);
}

#num-range-normal {
  color: var(--normal);
  width: calc((6.5 / 40) * 100%);
}

#num-range-kelebihan-bb {
  color: var(--overweight);
  width: calc((5 / 40) * 100%);
}

#num-range-obesitas {
  color: var(--obesity);
  width: calc((10 / 40) * 100%);
}

/* Saran */
#right{
  width: calc((5/12)*100%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#saran {
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

#saran p {
  text-align: justify;
}

/* Greetings */
#greet-back{
  display: flex;
  gap: 1rem;
}

#greet-back div{
  display: grid;
  place-items: center;
  flex-grow: 1;
}

#greet-back div, #kembali{
  font-size: 24px;
  font-weight: 700;
}

/* Button Kembali */
#kembali {
  padding: 0.5rem 1.5rem;
  color: var(--primary);
  cursor: pointer;
}

#kembali:hover {
  background-color: var(--dark-purple);
}

/* Validasi */
#container-bb,
#container-usia,
#container-tb {
  position: relative;
}
#container-bb::after,#container-usia::after,#container-tb::after{
  display: block;
  position: absolute;
  opacity: var(--afterOpacity, 0);
  bottom: var(--afterBottom, 0);
  width: fit-content;
  padding: 0.4rem 0.6rem;
  background-color: var(--dark-purple);
  font-size: 14px;
  color: var(--primary);
  transition: all 250ms ease-out;
}
#container-bb::after {
  content: "Berat badan harus diisi";
  
}

#container-usia::after {
  content: "Usia harus diisi";
  
}

#container-tb::after {
  content: "Tinggi badan harus diisi";
  
}

@media only screen and (max-width: 768px) {
  /* Font */
  h1{
    font-size: 28px;
  }
  
  h2{
    font-size: 24px;
  }
  
  p, li{
    font-size: 18px;
  }

  /* Container Home */
  .row{
    flex-direction: column;
  }

  #header-bmi{
    width: auto;
  }

  #add-explanation{
    width: auto;
  }

  /* Bottom */
  #bottom{
    flex-direction: row;
    gap: 1rem;
  }

  #jenis-kelamin, #container-usia, #container-bb, #container-tb{
    padding: 1rem 1rem;
    row-gap: 0.5rem;
  }

  #container-jk-u, #container-bb-tb{
    flex-grow: 0;
  }

  #jenis-kelamin{
    flex-grow: 0;
  }

  #container-usia{
    flex-grow: 1;
  }

  #container-bb, #container-tb{
    padding-bottom: 13%;
  }

  #input-radio img {
    width: 60px;
  }

  #input-radio span{
    font-size: 16px;
  }

  #form-bmi .input-number {
    width: 63px;
    padding: 0.5rem 0.75rem;
    font-size: 20px;
  }

  #form-bmi .satuan {
    font-size: 20px;
  }

  #container-mb-b{
    flex-direction: row;
    gap: 1rem;
  }
  
  /* Made By */
  #made-by{
    font-size: 20px;
    padding: 0.75rem 1.5rem;
  }

  #made-by br{
    display: none;
  }

  /* Button */
  #hitung-bmi{
    font-size: 20px;
    padding: 0.75rem 1.5rem;
  }

  #fitur, #rumus{
    padding: 1.5rem;
    flex-grow: 0;
  }

  /* Social Media */
  #container-link a{
    font-size: 20px;
    padding: 0.5rem 0.75rem;
  }

  /* Container Result */
  #container-result {
    flex-direction: column;
    gap: 1rem;
  }

  #left, #right{
    width: auto;
  }

  #greet-back div, #kembali{
    font-size: 20px;
  }

  /* Validasi */
  #container-bb::after,#container-usia::after,#container-tb::after{
    opacity: var(--afterOpacity, 0);
    bottom: var(--afterBottom, 0);
    font-size: 12px;
  }
}

@media only screen and (max-width: 480px) {
  /* Font */
  h1{
    font-size: 24px;
  }
  
  h2{
    font-size: 20px;
  }
  
  p, li{
    font-size: 16px;
  }

  /* Container Home */
  #container-home{
    gap: 0.5rem;
  }

  .row{
    flex-direction: column;
    gap: 0.5rem;
  }

  #header-bmi, #add-explanation{
    width: auto;
    padding: 1.25rem;
    text-align: center;
  }

  /* Bottom */
  #bottom{
    flex-direction: column;
    gap: 0.5rem;
  }

  #jenis-kelamin, #container-usia, #container-bb, #container-tb{
    padding: 1rem 1rem;
    row-gap: 0.5rem;
  }

  #container-jk-u, #container-bb-tb{
    gap: 0.5rem;
  }

  #jenis-kelamin{
    flex-grow: 2;
  }

  #container-usia{
    flex-grow: 1;
  }
  #container-bb, #container-tb{
    padding-bottom: 12%;
  }
  #input-radio img {
    width: 60px;
  }

  #input-radio span{
    font-size: 16px;
  }

  #form-bmi .input-number {
    width: 63px;
    padding: 0.5rem 0.75rem;
    font-size: 18px;
  }

  #form-bmi .satuan {
    font-size: 18px;
    margin-left: 0.25rem;
  }

  #container-mb-b{
    flex-direction: row;
    gap: 0.5rem;
  }
  
  /* Made By */
  #made-by, #hitung-bmi{
    font-size: 16px;
    padding: 0.5rem 1.5rem;
  }

  #made-by br{
    display: none;
  }

  #fitur, #rumus{
    padding: 1.5rem;
    flex-grow: 0;
  }

  /* Social Media */
  #container-social{
    gap: 0.5rem;
  }

  #container-link a{
    font-size: 18px;
    flex-grow: 1;
    text-align: center;
  }

  /* Container Result */
  #container-result {
    flex-direction: column;
    gap: 0.5rem;
  }

  #left, #right, #container-info, #greet-back{
    gap: 0.5rem;
  }

  #identity, #container-value{
    padding: 1rem;
  }

  #identity img{
    width: 50px;
  }

  #identity span{
    font-size: 20px;
  }

  #value-bmi{
    font-size: 28px;
  }

  #bmi-display .img-bmi-display-item img{
    width: 80px;
  }
  #img-bmi-display-male,
  #img-bmi-display-female {
    column-gap: 0.5rem;
  }
  #bmi-display .img-bmi-display-item p{
    font-size: 14px;
  }

  #bmi-display #range #container-range-bubble{
    height: 40px;
  }

  #bubble{
    font-size: 14px;
    padding: 0.25rem;
  }

  #num-range-display {
    margin-top: 0.25rem;
  }

  #num-range-kekurangan-bb, #num-range-normal, #num-range-kelebihan-bb, #num-range-obesitas{
    font-size: 14px;
  }

  /* Saran */
  #saran {
    padding: 1.5rem 1rem;
  }

  #greet-back div, #kembali{
    font-size: 18px;
  }

  /* Validasi */
  #container-bb::after,#container-usia::after,#container-tb::after{
    opacity: var(--afterOpacity, 0);
    bottom: var(--afterBottom, 0);
    font-size: 10px;
  }
}